.t1{
    font-size: large;
    color: cyan;
}
body{
    background-color: black;
}
.p1{
    color: white;
    font-size: 35px;
    
    background-image:url(https://thumbs.gfycat.com/AdolescentVelvetyIcelandicsheepdog-max-1mb.gif) ;
   width: 400px;
   height: 200px;

}
